*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
body{
	height: 100vh;
	min-width: 13em;
	padding: 0;
	display: grid;
	place-content: center;
	background-color: #fff;
}
.error-container{
	width: auto;
	padding: 2em;
}
.error-text h1{
	font-weight: normal;
	font-size: 1.7rem;
	margin-bottom: .5em;
}
.error-text ul{
	font-weight: bold;
	margin-bottom: 2em;
	line-height: 2.5em;
}
.error-text p{
	font-size: 1.2rem;
	margin:1.4em 0;
}
.error-text li{
	font-size: .95rem;
	padding-left: 1em;
	list-style-position: inside;
	/* reset */
	line-height: 1.3rem;
	font-weight: normal;
}
button{
	float: right;
	font-size: .95rem;
	padding: .5em 1.7em;
	font-weight: bold;
	color: #fff;
	background-color: #222;
	border-radius: .5em;
}

@media (max-width: 500px) {
	button{
		width: 100%;
	}
}


